/*物流信息*/
.buyProcess{
	width: 438px;
	height: 51px;
	float: right;
	margin-top: 25px;
}
.wuliu{
	width: 396px;
	height: 27px;
	background: url(../img/wuliu.png) no-repeat;
	margin: 0 26px 0 16px;
}
.proTex{
	width: 438px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 8px;
}
.proTex span {
    color: #aaa;
    margin-right: 110px;
    font-size: 12px;
}
.proTex .on {
    color: #666;
}

/*******内容部分*******/
.Cart-wrap{
	width: 100%;
	min-height: 500px;
	height: auto !important;
	height: 500px; 
	margin-bottom: 50px;
}
.Cart-center{
	width: 1000px;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	margin: 0 auto;
}
.tishi{
	height: 34px;
	line-height: 34px;
	font-size: 0;
	background: #fffcf8;
	border: 1px solid #ffdeb0;
	padding: 0 20px;
	margin-bottom: 20px;
}
.tishi span {
    font-size: 12px;
    color: #666666;
}
/***********购物车内容*************/
.cart-t{
	width: 100%;
}
.cart-t a:hover{
	text-decoration: underline;
}
.cart-bar{
	width: 100%;
	height: 34px;
	font-weight: bolder;
	color: #333;
	font-size: 14px;
	line-height: 34px;
}
.cart-bar span{
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.cart-thead {
    height: 38px;
    line-height: 38px;
    border: 1px solid #e8e8e8;
}
.cTab-tr {
    float: left;
    color: #999;
    text-align: center;
    min-height: 18px;
    font-size: 12px;
}
.cart-checkbox {
    position: relative;
    margin: 0 0 0 20px;
    width: 24px;
    height: 15px;
}
.cart-checkbox .checkAllText {
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 24px;
    top: 0;
    width: 50px;
    text-align: left;
    display: inline-block;
}
.cart-goods {
    width: 300px;
    float: left;
    color: #999999;
    text-indent: 93px;
    text-align: left;
}
.cart-price {
    width: 166px;
}
.cart-gold {
    width: 114px;
}
.cart-quantity {
    width: 132px;
}
.cart-subtotal {
    width: 140px;
}
.cart-operating {
    width: 102px;
    text-align: left;
}
/*每一条购物车记录*/
.cart-tbody {
    margin-top: 12px;
}
.cart-shop {
    border: 1px solid #fff;
    height: 38px;
    line-height: 38px;
}
.cart-shop span{
	font-size: 12px;
	color: #333;
}
.CartList-wrap{
	border-top: 2px solid #b7b7b7;
	border-right: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	min-height: 80px;
    height: auto !important;
    height: 80px;
}
.cart-list {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
    min-height: 80px;
    height: auto !important;
    height: 80px;
}
.select-bg {
    background: #fffbf0;
}
.goods-info {
    width: 290px;
    height: 80px;
    overflow: hidden;
}
.goods-img {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
}
.goods-right {
    margin-left: 90px;
}
.goods-info * {
    text-indent: 0;
}
.goods-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.goods-name a {
    color: #333;
}
.cart-tag {
    height: 18px;
    margin-top: 5px;
}
.cart-tag span {
    height: 16px;
    line-height: 16px;
    float: left;
    border: 1px solid #e6393d;
    padding: 0 4px;
    color: #e6393d;
    display: block;
    margin-right: 5px;
    margin-bottom: 3px;
}
.goods-price, .goods-gold, .goods-total-price {
    color: #333;
    height: 18px;
    line-height: 18px;
}
.cart-operating {
    width: 102px;
    text-align: left;
}
.goods-operating p {
    line-height: 18px;
    margin-bottom: 5px;
}
.goods-operating p a, .goods-operating p a:hover {
    color: #666;
}
/*结算按钮*/
.cart-gopay-bottom {
	font-size:12px ;
    height: 60px;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    width: 978px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}
.cart-gopay-left {
    float: left;
    height: 60px;
}
.cart-gopay-left label {
    font-size: 0;
    margin-right: 30px;
}
.cart-gopay-left label, .cart-gopay-left a {
    float: left;
    line-height: 60px;
}
.cart-gopay-left a:hover{
	text-decoration: underline;
}
input, select {
    vertical-align: middle;
    outline: none;
}
.cart-gopay-left label span {
    font-size: 12px;
    color: #333;
}
 .cart-gopay-left span {
    display: inline-block;
    vertical-align: middle;
}
.cart-gopay-left a, .cart-gopay-left a:hover {
    color: #333;
    margin-right: 20px;
}
.cart-gopay-left label, .cart-gopay-left a {
    float: left;
    line-height: 60px;
}

.cart-count {
    float: right;
    margin-right: 150px;
    padding: 5px 0;
    height: 50px;
}
.cart-count div {
    text-align: right;
    height: 25px;
    line-height: 25px;
}
.cart-count-total .pieces {
    margin-right: 25px;
}
.cart-count-total span {
    color: #333;
}
.cart-count-total .pieces em {
    color: #e43a3d;
    font-style: normal;
    font-size: 16px;
    margin: 0 5px;
}
.cart-count-total .total em {
    color: #f32828;
    font-style: normal;
    font-size: 20px;
}
.cart-count div {
    text-align: right;
    height: 25px;
    line-height: 25px;
}
.cart-count-offer {
    color: #999;
}
.cart-count-offer span {
    margin-left: 20px;
}
.cart-count-offer em {
    font-style: normal;
}
.cart-gopay-btn {
    width: 120px;
    height: 62px;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 100;
}
.cart-gopay-btn a.done {
    background: #e43a3d;
}
.cart-gopay-btn a {
    display: block;
    width: 120px;
    height: 62px;
    background: #d0d0d0;
    color: #fff;
    text-align: center;
    line-height: 62px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
/*number不带箭头*/
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  
.cart-quantity .goods-num input{
	width: 40px;
    text-align: center;
    background:#fff;
    border: 1px solid #CECECE;
    height: 19px;
    display: inline-block;
    float: left;
}
.cart-quantity .goods-num button{
	display: inline-block;
    height: 23px;
    float: left;
}
.cart-quantity .goods-num .reduce{
    margin-left: 20px;
}

/****弹窗部分******/
.pop-up{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.25);
	z-index: 1000;
	display: none;
}
.confirm-bg{
	background: rgba(0,0,0,0.1);
    padding: 4px;
    border-radius: 5px;
    width: 400px;
    height: 218px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    margin: -113px 0 0 -204px;
}
.confirm{
	background: #fff;
    width: 400px;
    height: 218px;
    border-radius: 5px;
    overflow: hidden;
}
.confirm-tit{
	height: 38px;
	background: #F2F2F2;
	line-height: 38px;
	padding: 0 6px;
}
.confirm-tit span{
	display: inline-block;
	font-size: 14px;
	color: #666;
	float: left;
}
.confirm-tit  span.del{
	width: 20px;
	height: 20px;
	font-size: 12px;
	color: #CECECE;
	float: right;
	cursor: pointer;
}
.confirm-body{
	height: 146px;
    padding-top: 34px;
}
.confirm-body p{
	font-size: 17px;
	color: #000;
	text-align: center;
}
.confirm-body p b{
	width: 20px;
	height: 20px;
	text-align: center;
	display: inline-block;
	color: #fff;
	background: red;
	border-radius: 50%;
	margin-right: 10px;
}
.confirm-body div{
	 padding-top:35px ;
	  text-align: center;
}
.confirm-body div button{
	width: 60px;
	height: 30px;
	display: inline-block;
    margin: 0 8px;  
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.confirm-body div button:first-child{
	background: #e64346;
    color: #fff;
}
.confirm-body div button:last-child{
	background: #f7f7f7;
    border: 1px solid #cccccc;
    color: #666;
}

