html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,figure,figcaption { margin:0; padding:0; }

fieldset, img { border:none; }

img{display: block}

ul, ol { list-style:none; } 

body {font-family:"微软雅黑";overflow-x:hidden;color: #666;}

a {text-decoration:none; }
 /*重置样式 */

/******载入htmld的div load*******/
.detail-load{
	width: 100%;
	min-height: 100px;
	height: auto !important; 
	height: 100px; 
}

/*页面最顶部*/
.topHeder-wrap{
	width: 100%;
	height: 27px;
	background: #f2f2f2;;
	border-bottom: 1px solid #e5e5e5;
}
.topHeder{
	width: 1200px;
	height: 26px;
	margin: 0 auto;
	line-height: 26px;
	color: #999;
	font-size: 12px;
}
.topHeder-left{
	width: 370px;
	height: 26px;	
	float: left;
}
.topHeder-left p{
	float: left;
	margin-right: 6px;
}
.topHeder-left a{
	float: left;
	color: #999999;	
	margin-right: 6px;
}
.topHeder-left a:hover{
	text-decoration: underline;
	color: #c00;
}

.topHeder-right{
	width: 781px;
	height: 26px;
	float: right;
}
.topHeder-right li{
	float: left;
	height: 26px;
	padding: 0 4px;
	line-height: 26px;
	display: block;
	cursor: pointer;
}

.topHeder-right li a{
	color: #999999;
}
.topHeder-right li span{
	display: inline-block;
	overflow: hidden;
}
.topHeder-right .hr-2 a,.topHeder-right .hr-4 a,.topHeder-right .hr-3 b,.topHeder-right .hr-9 b{
	color:#c00 ;
	font-weight: normal;
}
.topHeder-right .hr-1 span{
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png) no-repeat  -99px 3px;
	margin: 0 5px 0 1px;
}
.topHeder-right .hr-3 span{
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) no-repeat -18px 1px;
	margin: 0 3px 0 7px;	
}
.topHeder-right .hr-6 a{
	color: #fff;
	background: #CC0001;
}
.topHeder-right .hr-6 span{
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) no-repeat -62px 0;
	margin: 0 5px;	
}
.topHeder-right .hr-7 .hrList{
	position: relative;
	padding-left: 18px;
}
.topHeder-right .hr-7 span:first-of-type{
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) no-repeat -80px 0;
	position: absolute;
	top: 8px;
	left: 0;
}
.topHeder-right .hr-7 span:last-of-type{
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png) no-repeat  -99px 3px;
	margin: 0 5px 0 1px;
}
.topHeder-right .hr-8 span:first-of-type{
	width: 12px;
	height: 12px;
	background: url(../img/public-24.png) no-repeat -90px -265px;
	margin-right: 5px;	
}
.topHeder-right .hr-8 span:last-of-type{
	width: 9px;
	height: 8px;
	background: url(../img/public-24.png) no-repeat  -99px 3px;
	margin:0 5px 0 1px;
}

/*下拉列表*/
.topHeder-right .hr-1,.topHeder-right .hr-7,.topHeder-right .hr-8,.topHeder-right .hr-6{
	position: relative;
	padding: 0;
}
.hrList{
	padding: 0 4px;
}
.hr-1-list{
	width: 72px;
	position: absolute;
	left: 0;
	top: 25px;
	text-align: center;
	z-index: 2;
	background: #fff;
	display: none;
	
}
.hr-1-list a{
	height: 26px;
	width: 72px;
	display: block;
	color: #999999;
}
//下拉菜单隐藏
.hr-7 .nav-list {
	width: 205px;
	position: absolute;
	left: -1px;
	top: 27px;
	padding-top:5px ;	
	background: #fff;
	z-index: 999;
	display: none;
}
.hr-7 .nav-list div{
	width: 165px;
	padding: 8px 20px;
	overflow: hidden;
}
.hr-7 .nav-list div:nth-of-type(even){
	background: #f9f9f9;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #EDEDED;
}
.hr-7 .nav-list span{
	width: 165px;
	height: 28px;
	display: block;
	line-height: 28px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
}
.hr-7 .nav-list a{
	display: block;
	width: 48px;
	height: 24px;
	text-align: left;
	margin-right: 7px;
	float: left;	
}
.hr-7 .nav-list b{
	font-weight: normal;
	color: #000;
}

.hr6Img{
	position: absolute;
	left: 2px;
	top: 26px;
	display: none;
}

/*hover 事件*/

.hrList:hover a{	
	text-decoration: underline;
	color: #c00;		
}
.hrList:hover .s{
	transform: rotate(180deg);
}
.hr-1:hover,.hr-7:hover,.hr-8:hover{
	background: #fff;
}
.hr-3:hover a,.hr-5:hover a{
	color: #c00;
	text-decoration: underline;
}
.hr-6:hover a{	
	text-decoration: underline;
}
.hr-1-list a:hover,.hr-7 .nav-list a:hover{
	color: #c00;
	text-decoration: underline;
}

/****************顶部结束***************/

.mHeder-wrap{
	width: 100%;
	height: 125px;
}
.mHeder{
	width: 1200px;
	height: 125px;
	margin: 0 auto;
}
.headLogo{
	width: 257px;
	height: 65px;
	float: left;
	margin-top: 30px;
}
.headLogo .jxlogo{
	width: 137px;
	height: 65px;
	display: inline-block;
}
.headLogo .homelogo{
	width: 110px;
	height: 65px;
	display: inline-block;
	margin-left: 5px;
}
.headLogo img{
	width: 100%;
	height: 100%;
}
/****************/
.headSearch{
	width: 540px;
	height: 61px;
	float: left;
	margin: 32px 0 0 20px;
	
}
.searchHome{
	width: 534px;
	height: 32px;
	border:3px solid #c00;
	position: relative;
}
.searchHome .head-txt{
	width: 439px;
	height: 22px;
	padding:5px;
	border: 0;
	line-height: 22px;
	color: #666;
	float: left;
}
.searchHome .head-btn{
	width: 85px;
	height: 32px;
	background: #c00;
	color: #fff;
	font-size: 16px;
	border:0 ;
	padding: 0;
	float: right;
}
.Sdetail{
	width: 448px;
	position: absolute;
	left: 0px;
	top: 33px;
	z-index:999;
	line-height: 30px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #fff;
	display: block;
}
.Sdetail li{
	width: 448px;
	height: 30px;
	border-bottom: 1px dashed #999999;	
}
.Sdetail li:last-of-type{border: 0;}
.Sdetail li a{
	width: 428px;
	height: 30px;
	font-size: 14px;
	padding: 0 10px;
	display: block;
	color: #000;
}
.Sdetail li span{
	float: left;
}
.Sdetail li em{
	float: right;
	font-size: 12px;
	color: #999;
	font-style: normal;
}
.Sdetail li a:hover{
	background: #e2a4a4;
}

.hotWords{
	width: 540px;
	height: 18px;
	padding-top: 5px;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.hotWords a{
	display: inline-block;
	padding: 0 5px;
	color: #999;
	position: relative;
}
.hotWords a s{
	height: 12px;
	border-left: 1px solid #999;
	position: absolute;
	left: -1px;
	top: 3px;
}
.hotWords a:hover{
	color: #c00;
	text-decoration: underline;
}
/***************/
.headProtect{
	width: 363px;
	height: 64px;
	margin-top: 33px;
	float: right;
	font-size: 12px;
}
.headProtect p{
	width: 106px;
	height: 43px;
	float: left;
	margin: 0 5px;
	position: relative;
}
.headProtect p s{
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.headProtect p span{
	color: #999;
	position: absolute;
	left: 50px;
	top: 5px;
}
.headProtect p b{
	font-weight: normal;
	position: absolute;
	left: 51px;
	top: 24px;
}
.headProtect .Hpro3 span{
	left: 70px;
	color: #666;
}
.headProtect .Hpro3 b{
	left: 70px;
}
.Hpro1 s,.Hpro2 s{
	width: 43px;
	height: 43px;	
}
.Hpro3 s{
	width: 66px;
	height: 64px;
}
.Hpro1 s img{
	display: inline-block;
	position: absolute;
	left: 0px;
	top: -21px;
}
.Hpro2 s img{
	display: inline-block;
	position: absolute;
	left: -48px;
	top: -21px;
}
.Hpro3 s img{
	display: inline-block;
	width: 100%;
	height: 100%;
}

/******搜索框结束*******/

/**********导航部分************/
.Nav-wrap{
	width: 100%;
	height: 34px;
	background: #900;
}
.Nav{
	width: 1200px;
	height: 34px;
	margin: 0 auto;
	font-size: 14px;
}
/*****商品菜单******/
.navCateMenu{
	width: 190px;
	height: 34px;
	float: left;
	position: relative;
}
.navCateMenu h2{
	width: 190px;
	height: 34px;
	background: #ce171f;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 34px;
	
}
.categoryBox{
	width: 190px;
	height: 470px;
	border: none;
	z-index: 999;
	position: absolute;
	left: 0;
	top: 34px;
	background: #fff;
}
.categoryBox li{
	float: left;
	width: 186px;
	height: 81px;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;
}
.categoryBox a{
	color: #333;
}
.categoryBox li h3 {
    line-height: 32px;
    height: 32px;
    font-size: 14px;
    overflow: hidden;
    font-weight: normal;
    padding-top: 3px;
    color: #333;
}
.categoryBox li .catItemCon {
    width: 163px;
    height: 81px;
    padding: 0 10px;
    border-left: 3px solid #fff;
}
.categoryBox .catItem:hover{
	border-left:3px solid #990000;
}
.categoryBox li .categoryCon {
    width: 163px;
    overflow: hidden;
    position: relative;
}

.categoryBox li .categoryCon p {
    width: 170px;
    height: 20px;
    overflow: hidden;
}
.categoryBox li .categoryCon p a.on {
    background: #f90;
    color: #fff;
    border-radius: 3px;
}
.categoryBox li .categoryCon p a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    color: #666;
    float: left;
    margin: 2px 3px 2px 0;
}
.categoryBox li.last {
    height: 60px;
    border-bottom: none;
}
/*加小图标*/
.categoryBox li h3 i {
    display: inline-block;
    width: 14px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.publicIcon{
	background: url(../img/public-24.png) no-repeat;
}
.categoryBox li h3 i.seleWine {
    background-position: -73px -260px;
}
.categoryBox li h3 i.liquor {
    background-position: 2px -100px;
}
.categoryBox li h3 i.wine {
    background-position: -16px -102px;
}
.categoryBox li h3 i.yang {
    background-position: -37px -100px;
}
.categoryBox li h3 i.health {
    background-position: -59px -100px;
}
.categoryBox li h3 i.wineTools {
    background-position: -79px -100px;
}
.categoryBox li h3 a:hover{
	text-decoration: underline;
}
/*列表显示页*/
.menuBox {
	left: 190px;
    width: 615px;
    height: 470px;
    position: absolute;
    left: 188px;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 4px 0 #ccc;
    background: #fff;
}
.menuBox .menuCon {
    width: 400px;
    height: 470px;
    float: left;
    display: inline-block;
    background: #f1f1f1;
    overflow: hidden;
}

.menuItem.first .menuItemTitle {
    border-top: 0;
}
.menuItem .menuItemTitle {
    width: 60px;
    float: left;
    padding: 10px 10px 10px 20px;
    line-height: 22px;
    text-align: right;
    border-top: 1px solid #f1f1f1;
}
.menuItem .menuItemTitle h4 {

    font-size: 12px;
    color: #333;
    font-weight: normal;
    font-family: "微软雅黑";
    overflow: hidden;
    white-space: nowrap;
}
.menuItem .menuItemCon {
    float: left;
    background: #fff;
    font-size: 12px;
}
.menuItem.first .menuItemCon .menuCon-list {
    border-top: 0;
    padding: 15px 0 10px;
}
.menuItem .menuItemCon .menuCon-list {
    width: 280px;
    margin: 0 15px 0 15px;
    padding: 10px 0 10px;
    overflow: hidden;
    border-top: 1px dotted #ccc;
}
.menuCon-list p {
    margin: 0 0 0 -1px;
    line-height: 22px;
    max-height: 176px;
    _height: 176px;
    overflow: hidden;
}
.menuCon-list p a.hot {
    color: #f60;
}
.menuCon-list p a {
    display: inline-block;
    float: left;
    white-space: nowrap;
    padding: 0 8px;
    color: #666;
    background: url(../img/menuline.jpg) no-repeat scroll left center;
}
.menuFoc {
    width: 215px;
    height: 470px;
    float: left;
    position: relative;
    z-index: 201;
}
.menuFoc a {
    display: block;
    width: 220px;
    height: 470px;
    position: absolute;
    top: 0;
    right: -5px;
}


.menuHeight .menuItemTitle {
    width: 90px;
    float: left;
    height: 1px;
    line-height: 1px;
}
.menuCon-filter {
    width: 525px;
    height: 18px;
    padding: 5px 0 12px;
    overflow: hidden;
}
.menuCon-filter ul li a i {
    width: 11px;
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: 3px;
    background-position: -114px 0;
    display: none;
    overflow: hidden;
}


/***导航***/
.NavList{
	width: 890px;
	height: 34px;	
	float: left;
	line-height: 34px;
}
.NavList li{
	float: left;
	position: relative;
}
.NavList li.home{background: #b40c10;}
.NavList li a{
	display: inline-block;
	color: #fff;
	padding: 0 22px;	
}
.NavList li s{
	width: 29px;
	height: 17px;
	display: block;
	position: absolute;
	right: 6px;
	top: -6px;
	overflow: hidden;	
	z-index: 444;	
	background:url(../img/public-24.png) no-repeat 0px -264px;
}
.NavList li a:hover{background: #b40c10;}
.navPromotion{
	width: 120px;
	height: 34px;
	float: right;
}
/*********导航结束********/

/**********右侧固定栏***********/
.rightSidebarBox {
    width: 35px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    background: #ffffff;
    box-shadow: 1px 2px 5px #999;
    font-size: 12px;
}
.rScon{
	width: 35px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 311;
	text-align: center;
	height: 365px;
	margin-top: -182.5px;
}
.rBIten{
	width: 35px;
	position: relative;
}
.rBname{
	width: 35px;
	padding: 10px 0;
	position: relative;
	z-index: 350;
	cursor: pointer;
	background: none;
}
.rBname i{
	display: inline-block;
	width: 19px;
	height: 19px;
}
.rBname .user-i {
    background-position: 0 -163px;
}
.rBname span{
	display: block;
	line-height: 16px;
	color: #333333;
	padding: 2px 0 0;
}
.UserCon{
	width: 270px;
	height: 278px;
}
.user_login{
	width: 270px;
	height: 114px;
	border-bottom: 2px solid #F1F1F1;
}
.user_login span{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: url(../img/sbbgg.jpg) no-repeat center;
	float: left;
	margin: 18px 20px 0 35px
}
.user_login p{
	float: left;
	margin-top: 50px;
}
.me{
	width: 270px;
	height: 80px;	
}
.me p{
	width: 130px;
	height: 80px;
	float: left;
	cursor: pointer;
}
.me b{
	font-weight: normal;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
}
.me span{
	display: inline-block;
	height: 26px;
	width: 26px;
	margin-top: 10px ;
}
.icon-me1{
	    background-position: -64px -190px;
}
.icon-me2{
	background-position: -96px -189px;
}
.icon-me3{
	background-position: -158px -185px;
}
.icon-me4{
	background-position: -158px -219px;
}
.me-1{border-bottom: 1px dashed #ccc;}
.CountCon {
	height:114px ;
	display: block;
}
.rBname .count-i {
   background-position: -99px -163px;
}
.cart-i{
	background-position: -120px -163px;
}
.kefu-i{
	background-position: -45px -331px;
}

.fankui-i{
	background-position: 3px -186px;
}
.fankuiCon{
	width: 55px;
	height: 30px;
	line-height: 30px;
}

.erwei-i{background-position: -19px -186px;}
.erweiCon{
	width: 80px;
	height: 80px;
}
.top-i{background-position: -40px -186px;}
/*隐藏块共有属性*/
.rBcontent{
	display: none;
	background: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	right: 35px;
	z-index: 320;
	border: 1px solid #ddd;
	border-right: 0;
}
.rBIten:hover{
	background: #CC0001;
}
/**右侧固定栏购物车**/
.rscart-box{
	width: 270px;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ddd;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 35px;
    z-index: 999;
    display: none;
}
.rscart-tit{
	height: 52px;
    line-height: 52px;
    padding: 0 15px;
    border-bottom: 1px solid #ededed;
    background: #f9f9f9;
}
.rscart-tit span{
	display: inline-block;
	font-size:18px;
	float: left;
}
.rscart-tit em{
	display: inline-block;
	font-size: 18px;
	float: right;
	font-style: normal;
	cursor: pointer;
}

.cart-pro{
	overflow-x: hidden;
    overflow-y: auto;
    height: 60%;
}
.cart-pro  li{
	height: 54px;
    text-align: center;
    border-bottom: 1px dotted #ddd;
    padding: 10px;
    font-size: 12px;
    display: block;
}
.cart-pro li a{
	display: inline-block;
	width: 52px;
    height: 52px;
    float: left;
    border: 1px solid #ccc;
    float: left;
}
.cart-pro li a img{
	display: inline-block;
	width: 52px;
	height: 52px;
}
.pro-tit{
	line-height: 18px;  
	height: 36px;
    padding: 9px 0;
    display: inline-block;
   width: 66px;
   float: left;
   margin: 0 10px;
   overflow: hidden;
}
.cart-pro .pro-tit a{	
	display: inline-block;
	color: #666;
	border: 0;
	width: 66px;
	height: 36px;
	text-align: left;
	 overflow: hidden;
    text-overflow: ellipsis;
}
 .cart-pro li span{
	display: inline-block;
	color: #666;
	float: left;
	height: 56px;
	line-height: 56px;
	margin-right:10px;
}
.cart-pro li em{
	display: inline-block;
	color: red;
	font-style: normal;
	float: left;
	height: 56px;
	line-height: 56px;
}
.rscart-box .car-btn{
	margin: 30px auto;
    width: 166px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #cf171f;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.pro-count{
	height: 50px;
    line-height: 50px;
    padding: 0 15px 0 10px;
    background: #f9f9f9;
    border-top: 1px dotted #ddd;
}
.pro-count p{
	width: 50%;
	text-align: left;
	float: left;
}
.pro-count p b{
	color: red;
}
.pro-count span{
	float:right;
	color: red;
	font-size: 16px;
}

/*************右侧固定栏结束****************/