.PocPic{
	width: 100%;
	height: 70px;
	margin-top: 10px;
}
.PocPic a{
	display: block;
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}
.PocPic a img{
	width: 100%;
	height: 100%;
}
/*导航*/
.dGuide {
	width: 1200px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    margin: 0 auto;
    font-size: 12px;
}
.dGuide a {
    color: #666;
}
.dGuide i {
    color: #999;
    font-style: normal;
    font-family: "宋体";
    padding: 0 8px;
}
.dGuide a:hover, .dGuide .d-cur {
    color: #cc3333;
}

/*放大镜*/
.dIntro{
	display: none;
	width: 1200px;
	height: 550px;
	margin: 0 auto;
	border:1px solid #F1F1F1;
}
#zoomBox{
	width: 400px;
	position: relative;
	float: left;
}
#midArea{
	width: 400px;
	height: 400px;
}
#midArea img{
	width: 400px;
	height: 400px;
}
#zoom{
	width: 200px;
	height: 200px;
	background: yellow;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	display: none;
	cursor: move;
}
#bigArea{
	width: 400px;
	height: 400px;
	position: absolute;
	left: 401px;
	top: -1px;
	border: 1px solid #ccc;				
	overflow: hidden;
	display: none;
	z-index: 333;
}
#bigArea img{
	width: 800px;
	height: 800px;
	position: absolute;
}
#nav{
	height:55px;
	position: absolute;
	left: 010;
	top: 430px;
}
#nav li{
	float: left;
	margin: 0 0px;
	cursor: pointer;
}
#nav img{
	width: 54px;
	height: 54px;
}

/*商品信息*/
.introInfo {
    width: 548px;
    min-height: 533px;
    padding: 20px 0 10px 10px;
    float: left;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    font-size: 12px;
}
.introInfo .comName {
    padding: 0 10px 5px;
}
.introInfo .comName h1 {
    width: 528px;
    font-size: 16px;
    min-height: 20px;
    line-height: 20px;
    color: #333;
    font-family: "Microsoft YaHei";
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.introInfo .comName p {
    width: 528px;
    color: #c33;
    min-height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    padding: 8px 0 3px;
}
.introInfo .infoWrap {
    padding: 10px;
}
.infoWrap .infoItems {
    width: 528px;
    line-height: 30px;
    float:left;
    margin-bottom: 12px;
}
.infoItems .infoTit {
    color: #666;
    float: left;
    width: 36px;
    padding-right: 28px;
}

.infoItems .infoCon {
    float: left;
    width: 464px;
}
.priceBox .infoPri .pri {
    color: #cc3333;
    font-family: "Microsoft YaHei";
}
.priceBox .infoPri span {
    display: inline-block;
    float: left;
    height: 30px;
}
.priceBox .infoPri .pri em {
    font-size: 14px;
}
.priceBox .infoPri .pri strong {
    font-size: 26px;
}
.cityBox .infoCity {
    position: relative;
    z-index: 2;
}
.cityBox .infoCity .citySelect {
    position: relative;
    z-index: 2;
}
.citySelect .dOrder-city-sel {
	width: 125px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 6px;
    position: relative;
    z-index: 2;
    border: 1px solid #999;
}
.citySelect strong {
    display: inline-block;
    padding-left: 8px;
}
.citySelect .dOrder-city-sel b {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    padding-right: 5px;
}
.pronum input{
	display: inline-block;
	width: 130px;
}
.pronum span{
	color: red;
}
.btnCart input{
	display: inline-block;
	border: 1px solid #ffcccc;
	background: #cc3333;
	color: #fff;
	width: 116px;
	height: 38px;
	margin: 10px 0 0 105px;
	cursor: pointer;
}
